.interna {
  h1.titulo {
    margin-top: 80px;
    display: block;
    color: $cor03;
    font-weight: bold;
  }
}


.titulo_barra {
  margin: 136px 0 0 0;
  height: 340px;
  align-items: center;
  display: flex;
  @media screen and (max-width: 992px){
    background-position: center;
    background-size: auto;
    margin: 0;
  }
  h1 {
    color: #fff;
    font-size: 55px;
    font-weight: 900;
    margin-top: 100px;
  }
}

.breadcrumbs {
  padding: 0 0 15px;
  ol {
    margin: 0;
    padding: 0 0 8px;
  }
  ul {
    padding: 0;
  }
  li {
    display: inline-block;
    margin-top: 0;
    &:first-child {
      margin-left: 0;
      @media screen and (max-width: 992px){
        margin-left: 5px;
      }
    }
    a {
      color: #fff;
      font-size: 16px;
      margin-right: 3px;
      font-family: 'Montserrat', serif;
      &:hover {
        color: #fff;
      }

    }
    i {
      font-size: 14px;
      margin-left: 5px;
      margin-right: 5px;
      color: #fff;
    }
  }

  .current_item {
    color: #fff;
    font-family: 'Montserrat', serif;
    font-size: 16px;
  }


}

.paginacao{
  .wp-pagenavi{
    text-align: center;

    .pages{
      display: none;
    }

    .current{
      width: 45px;
      height: 45px;
      border: none;
      border-radius: 50px;
      box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.12);
      color: #FFF;
      background-color: $cor03;
      display: inline-block;
      font-size: 14px;
      text-align: center;
      padding: 10px 0;
      margin:0 7px;
      @media screen and (max-width: 992px){
        margin: 0 7px 10px;
      }
    }
    a{
      @extend .current;
      background-color: #FFF;
      color: #a6a6b4;

      &:hover{
        color: #FFF;
        background-color: $cor03;
      }
    }
    .extend {
      @extend .current;
      background-color: $cor03;
      color: #000;
    }
  }
}


.interna.inscreva .bloco9 {
  background: #ebebeb;
  h2 {
    color: $cor02;
  }
  p {
    color: #4b4b4b;
  }
  label {
    color: #4b4b4b;
  }
  input[type="submit"]{
    background: $cor02;
    color: #fff;
    border-color: $cor02;
    &:hover {
      background: $cor03;
      border-color: $cor03;
    } 
  }
}

.interna.cursos {
  .bloco1{
    background: #fff;
   
    .selecao {
      margin: 0 0 60px;
      flex-wrap: wrap;
    }
    .form-group {
      width: 20%;
      margin-right: 1%;
      @media screen and (max-width: 1200px){
        width: 100%;
        margin-right: 0; 
      }
    }
    label {
      font-weight: 900;
      color: $cor02;
      font-size: 16px;
    }
    select {
      border-radius: 2px;
      background-color: rgb(255, 255, 255);
      box-shadow: 0px 1px 4px 0px rgba(31, 31, 31, 0.08);
      height: 59px;
      border: none;
    }
    input.form-control {
      border-radius: 2px;
      background-color: rgb(255, 255, 255);
      box-shadow: 0px 1px 4px 0px rgba(31, 31, 31, 0.08);
      height: 59px;
      border: none;
    }
    input.pesq {
      height: 59px;
      margin-top: 32px;
      margin-bottom: 0;
      max-width: 175px;
      border: none;
    }
  }


}



.titulo_interna {
  background-color: #ebebeb; 
  padding: 80px 0 40px;
  span.pre {
    font-family: "Montserrat";
    font-size: 18px;
    display: block;
    color: $cor02;
    font-weight: 500;
    margin: 0 0 40px 0;
    text-align: center;
  }
  h2 {
    font-size: 48px;
    color: $cor02;
    display: block;
    text-align: center;
    margin-bottom: 80px;
    font-weight: 900;
    span {
      color: $cor03;
    }
  }
}


article {
  padding: 70px 0;
  .bt_cor {
    margin: 0 10px 30px 0;
    padding: 5px 0 5px 0;
    color: #fff;
    width: 150px;
    text-align: center;
    border-radius: 25px;
    display: block;
    background:  $cor02;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 12px;
    @media screen and (max-width: 992px){
      font-size: 10px;
    }
  }
  .aberto  {
    background: #7cc737;
    color: #3e641b;
  }
  .ultimas {
    background: #f1d72b;
    color: #6b5f10;
  } 
  .esgotado {
    background: #f33838;
    color: #480a0a;
  }
  .valor {
    font-size: 14px;
  }

  .hora {
  }

  .data {
    text-align: center;
    padding: 5px 0px; 
    color: $cor02;
    margin-right: 20px;
    font-size: 18px;
    font-weight: bold;
    @media screen and (max-width: 992px){
      font-size: 13px;
    }
  }

  .titulo_curso {
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 50px;
    color: $cor02; 
    @media screen and (max-width: 992px) {
      font-size: 30px;
    }
  }
  .d-flex {
    margin-bottom: 40px;
    font-size: 18px;
  }
  .texto {
    margin-bottom: 40px;
    font-size: 18px;
  }
  strong {
    margin-right: 10px;
    color: $cor02;
    font-size: 18px;

  }
  .bt--padrao {
    width: 264px;
    height: 50px;
    font-size: 15px;
    padding-top: 15px;
  
  }
  .laranja {
    margin-left: 20px;
    @media screen and (max-width: 992px) {
      margin-left: 0;
    }
  }
  .professores {
    ul {
      margin: 20px 0 0 0;
      li {
        max-width: 145px;
        text-align: center;
        img {
          width: 70px;
          height: 70px;
          display: block;
          object-fit: cover;
          border-radius: 50%;
          margin: 0 auto 15px;
        }
        span {
          display: block;
        }
        strong {
          display: block;
        }
      }
    }
    
  }
}

.procura {
  background: #dedede;
  min-height: 160px;
  display: flex;
  align-items: center;
  @media screen and (max-width: 992px) {
    padding: 20px 0;
  }
  h3 {
    max-width: 165px;
    color: $cor02;
    margin-top: 29px;
    font-size: 18px;
    font-weight: 900;
  }
  input {
    border-width: 1px;
    border-color: rgb(169, 169, 169);
    border-style: solid;
    width: 100%;
    border-radius: 4px;
    height: 45px;
    background-color: rgb(204, 202, 202);
  }
  label {
    font-size: 12px;
    text-transform: uppercase;
    color: #212020;
  }
  .bt--padrao {
    background: $cor02;
    margin-top: 29px;
    border: none;
    &:hover {
      background: $cor03;
    }
  }
}